.foto-zone {
    display: flex;
    justify-content: center;
    align-items: center;

    &__background {
        width: 100%;
        max-width: 700px;
        height: 720px; // 1049px
        background-image: url('../../../public/photo_2.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-color: transparent;
        //   border-style: solid;
        //   position: relative;

        @media (min-width: 700px) {
            height: 1200px;
        }

        @media (min-width: 600px) {
            height: 1000px;
        }
    }
}