---
import './style.scss';
---

<section class="guestes">
  <h2>Анкеета гостя</h2>
  <p class="guestes__text">
    Пожалуйста, подтвердите свое присутствие на торжестве и
    <br />
    ответьте на несколько вопросов
  </p>

  <h3>До 22.06.2024</h3>

  <p class="guestes__subtitle">
    Это поможет нам в организации незабываемого праздника!
  </p>

  <form action=""></form>
</section>
