---
import './style.scss';
---

<section class="welcome">
  <p class="welcome__text">Будем рады видеть вас на <br> нашем празднике!</p>
  <h2 class="welcome__subscribe">Ваши <br /> Денис и Юлия</h2>
</section>
