.invitation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        font-family: "Great Vibes", cursive;
        font-style: italic;
        font-size: 55px;
        font-weight: 400;
        color: #333;
        text-align: center;
        margin-bottom: 40px;
    }

    &__text {
        font-family: "Playfair Display", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        letter-spacing: 1.4px;
        text-align: center;
        margin: 20px 0px 20px 0px;
    }

    &__subtitle {
        font-family: "Playfair Display", sans-serif;
        font-style: normal;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 1.4px;
        margin: 0px 0px 0px 0px;
    }

    h3 {
        font-family: "Great Vibes", cursive;
        font-style: italic;
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 1.4px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &__place {
        font-family: "Playfair Display", sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0px 0px 20px 0px;
        line-height: 35px;
    }

    address {
        width: 290px;
        font-family: "Playfair Display", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        text-align: center;
    }
}